/* Website styles */

/* *{
  font-size: 100%;
} */

body {
  background-color: #c1faff;
  color: DarkSlateBlue;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  /* font-weight: bold; */
}

h1 {
  /* color: darkblue; */
  font-family: Helvetica, Arial;
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

h2 {
  color: darkblue;
  /* font-family: Courier;
  font-weight: 250;
  font-style: oblique; */
  text-align: justify;
}

h3 {
  color: aqua
  /* font-size: 18px;
  font-weight: bold;
  font-style: normal; */
  text-align: justify;
}

header {
  color: darkblue;
  background-color: white;
}

section {
  /* color: red; */
  /* font-size: 24pt; */
  background-color: white;
}

/*
Comment blocks
can span
multiple lines
*/

p {
  /* color: black; */
  /* font-size: 24px;
  line-height: 1; */
  text-align: justify;
  text-decoration: none;
}

footer {
  color: black;
  /* font-family: Courier */
  background-color: white;
  text-align: center;
  text-decoration:underline
}

a:link,
a:focus,
a:active {
  text-decoration: underline;
  color: green;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color:gray;
}
