/* Website styles */

*{
  font-size: 100%;
  font-family: Helvetica, Arial;
  /* border: 1px solid red; */
  /* margin: 4; */
  line-height: 1;
}

body {
  background-color: #c1faff;
  color: DarkSlateBlue;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 100px;
}

h1 {
  color: red;
  font-family: Helvetica, Arial;
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

h2 {
  color: purple;
  font-family: Courier;
  font-weight: 250;
  font-style: oblique;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}

header {
  color: green;
  /* background-color: lightblue; */
}


section p {
  color: red;
  font-size: 16pt;
  /* background-color: yellow; */
}

/*
Comment blocks
can span
multiple lines
*/

p {
  color: black;
  /* font-size: 24px; */
  line-height: 1;
  text-align: justify;
  text-decoration: none;
  border: solid red;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 40px;
}

footer {
  color: black;
  background-color: aqua;
  text-decoration:underline
  /* font-family: Courier */
}

a:link,
a:focus,
a:active {
  text-decoration: underline;
  color: green;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color:gray;
}
