/* Website styles */

body {
  background-color: #c1faff;
  color: DarkSlateBlue;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: red;
  font-family: Helvetica, Arial;
}

h2 {
  color: purple;
  font-family: Courier;
}

header {
  color: green;
  /* background-color: lightblue; */
}

section {
  color: red;
  /* background-color: yellow; */
}

/*
Comment blocks
can span
multiple lines
*/

p {
  color: brown;
}

footer {
  color: black;
}
