/* Website styles */

*{
  font-size: 100%;
  font-family: Helvetica, Arial;
  /* border: 1px solid red; */
  margin: 0;
  line-height: 1;
  box-sizing: content-box;
  /* border: 1px solid red; */
}

body {
  background-image: url(images/dark.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-color: #c1faff; */
  /* color: DarkSlateBlue;
  font-family: 'Roboto', sans-serif;
  font-weight: bold; */
  /* margin: 100px; */
}

h1 {
  color: red;
  font-family: Helvetica, Arial;
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

h2 {
  color: purple;
  font-family: Courier;
  font-weight: 250;
  font-style: oblique;
    text-align: right;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}

header {
  color: green;
  /* background-color: lightblue; */
  border-bottom: 5px solid gray;
  margin-bottom: 20px;
}


section p {
  color: red;
  font-size: 12pt;
  /* background-color: yellow; */
  border: 1px solid blue;
  background-color: white;
  margin: 30px;
  padding: 30px;
  width: 80%;
  height: 80%;
}



/*
Comment blocks
can span
multiple lines
*/

/* img {
  width: 300px;
  height: 200px; keeps them all the same size*/
}

img{
  width: 30%;
}

p {
  color: black;
  /* font-size: 24px; */
  line-height: 1;
  text-align: justify;
  text-decoration: none;
  border: 10px dotted red;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 40px;
  padding: 30px;
  /* solid, dotted or dashed */
}

h1,h2,h3 {
  margin-bottom: 20px;
}

ul, ol {
  margin: 15px, 0;
  border: 10px dashed red;
}

Header, section, footer{
  padding: 30px;
}

footer {
  color: black;
  background-color: aqua;
  margin: 50px 100px 200px;
  text-decoration:underline

  /* font-family: Courier */
}

a:link,
a:focus,
a:active {
  text-decoration: underline;
  color: green;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color:gray;
}

a img {
  width: 100px;
  height: 100px;
}
.title {
  color: blue;
  font-size: 36px;
  text-decoration: underline;
}
nav ul {
  text-align: center;
  padding: 0px 0px 0px 30px;
  background: linear-gradient(90deg, rgba(255, 255 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 28px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.section1 p {
  color: blue;
  margin: 0 auto;
  padding: 0px
}

#ordered-list {
  color: pink;
}

.box {
  background-image: url(images/beach.jpg);
  background-repeat: no-repeat;
  /* width: 100px;
  height: 100px; */

  border: 1px solid black;
  padding: 30px;
}
      /* Need these codes for my list on website */
.box p {
  font-size: 24px;
  max-width: 100px;
}

.container {
  max-width: 100px;
  /* max-height: 100px; */
  margin: 0 auto;
}

.banner {
  height:350px;
  background-position: center;
  background-size: cover;
  background-image: url(images/banner.jpg)
}

.photo {
  background-position: 50% right;
}

.icon {
  background-position: 0 100px;
}


/*.container2 {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
}/*











/* end of menu */
